In [5]:
library(dslabs)

In [6]:
data("murders")

In [7]:
murders <- mutate(murders, rate = total / population * 100000)

In [8]:
head(murders)

  state      abb region population total rate
1 Alabama    AL  South   4779736    135  2.824424
2 Alaska     AK  West     710231     19  2.675186
3 Arizona    AZ  West    6392017    232  3.629527
4 Arkansas   AR  South   2915918     93  3.189390
5 California CA  West   37253956   1257  3.374138
6 Colorado   CO  West    5029196     65  1.292453

In [10]:
filter(murders, rate <= 0.71)

  state         abb region        population total rate
1 Hawaii        HI  West          1360301     7    0.5145920
2 Iowa          IA  North Central 3046355    21    0.6893484
3 New Hampshire NH  Northeast     1316470     5    0.3798036
4 North Dakota  ND  North Central  672591     4    0.5947151
5 Vermont       VT  Northeast      625741     2    0.3196211

In [11]:
new_table <- select(murders, state, region, rate)

In [12]:
head(new_table)

  state      region rate
1 Alabama    South  2.824424
2 Alaska     West   2.675186
3 Arizona    West   3.629527
4 Arkansas   South  3.189390
5 California West   3.374138
6 Colorado   West   1.292453

In [13]:
murders %>% select(state, region, population, rate) %>% filter(rate <= 0.71)

  state         region        population rate
1 Hawaii        West          1360301    0.5145920
2 Iowa          North Central 3046355    0.6893484
3 New Hampshire Northeast     1316470    0.3798036
4 North Dakota  North Central  672591    0.5947151
5 Vermont       Northeast      625741    0.3196211

In [18]:
a <- data.frame(name = c("Amit", "Bhavesh", "Chandrakant", "Dinesh"),
               Maths = c(38, 83, 28, 93),
               Science = c(91, 38, 82, 81))

In [25]:
class(a$name)

[1] "factor"

In [30]:
a_new <- data.frame(name = c("Amit", "Bhavesh", "Chandrakant", "Dinesh"),
               Maths = c(38, 83, 28, 93),
               Science = c(91, 38, 82, 81),
                   stringsAsFactors= FALSE)

In [32]:
class(a_new$name)

[1] "character"