In [3]:
if (a!=0){
    print(1/a)
}else{
    print("Reciprocal of a is not possible")
}

[1] 0.5

In [2]:
a <- 2

In [4]:
library(dslabs)
data(murders)

In [5]:
names(murders)

[1] "state"      "abb"        "region"     "population" "total"

In [6]:
murder_rate <- murders$total/murders$population*100000

In [21]:
if (murder_rate[ind] < 0.25){
    print(murders$state[ind])
}else{
    print("No state has murder rate that low.")
}

[1] "No state has murder rate that low."

In [18]:
ind <- which.min(murder_rate)

In [22]:
ifelse(a!=0,1/a,"Reciprocal is not possible.")

[1] 0.5

In [23]:
a <- c(1, 0, 3, -1, 2)
result <- ifelse(a>0, a, NA)

In [24]:
result

[1]  1 NA  3 NA  2

In [25]:
date(na_example)

ERROR: Error in date(na_example): unused argument (na_example)

In [28]:
sum(is.na(na_example))

[1] 145

In [31]:
no_nas <- ifelse(is.na(na_example), 0, na_example)

In [34]:
sum(is.na(no_nas))

[1] 0

In [36]:
logic <- c(TRUE, TRUE, FALSE)

In [37]:
any(logic)

[1] TRUE

In [38]:
all(logic)

[1] FALSE

In [41]:
avg <- function(x){
    s<- sum(x)
    n <- length(x)
    s/n
}

In [42]:
x<- 1:100

In [43]:
avg(x)

[1] 50.5

In [44]:
identical(mean(x),avg(x))

[1] TRUE

In [45]:
s

ERROR: Error in eval(expr, envir, enclos): object 's' not found

In [46]:
n

ERROR: Error in eval(expr, envir, enclos): object 'n' not found

In [47]:
avg <- function(x, arithmetic = TRUE){
    n <- length(x)
    ifelse(arithmetic, sum(x)/n, prod(x)^(1/n))
}

In [49]:
avg(x,arithmetic=FALSE)

[1] 37.99269