In [3]:
library(dslabs)

In [4]:
data(murders)

In [5]:
head(murders)

  state      abb region population total
1 Alabama    AL  South   4779736    135
2 Alaska     AK  West     710231     19
3 Arizona    AZ  West    6392017    232
4 Arkansas   AR  South   2915918     93
5 California CA  West   37253956   1257
6 Colorado   CO  West    5029196     65

In [7]:
data(heights)

In [8]:
head(heights)

  sex    height
1 Male   75
2 Male   70
3 Male   68
4 Male   74
5 Male   61
6 Female 65

In [9]:
table(heights)

        height
sex      50 51 52 53 53.77 54 55 58 59 59.0551 59.0551181102362
  Female  0  1  2  1     0  0  1  0  4       0                1
  Male    2  0  0  0     1  1  0  1  2       1                1
        height
sex      59.8425196850394 60 61 61.32 61.8110236220472 62 62.2047244094488 62.4
  Female                0 11  8     0                0 17                0    1
  Male                  1  6  4     1                2  2                3    0
        height
sex      62.5 62.5984251968504 62.6 62.992125984252 63 63.3858267716535
  Female    2                0    1               1 24                0
  Male      0                1    0               2  7                1
        height
sex      63.7795275590551 64 64.173 64.1732 64.1732283464567 64.2 64.5
  Female                1 30      1       1                1    2    1
  Male                  2  9      0       0                0    0    1
        height
sex      64.5669291338583 64.57 64.9 64.96 64.9606299212598 64.961 65
  Female                1     1    0     2                3      0 23
  Male                  1     0    1     0                1      1 31
        height
sex      65.748031496063 66 66.14 66.1416 66.1417 66.1417322834646 66.4 66.5
  Female               0 21     1       1       1                0    0    1
  Male                 3 44     0       0       0                4    1    2
        height
sex      66.5354330708661 66.7 66.75 66.9 66.92 66.9291 66.9291338582677 66.93
  Female                0    0     1    0     0       1                0     0
  Male                  4    1     0    1     2       1               12     1
        height
sex      67 67.2 67.3 67.5 67.7 67.71 67.7165 67.7165354330709 67.72 67.78 68
  Female 16    0    0    1    1     1       0                0     1     1 16
  Male   61    1    1    3    2     1       2                7     2     0 60
        height
sex      68.11 68.1102 68.1102362204724 68.11024 68.4 68.5 68.503937007874 68.8
  Female     1       0                0        0    1    0               0    0
  Male       4       1                3        1    1    9               4    1
        height
sex      68.89 68.8976 68.8976377952756 68.8976378 68.9 69 69.29
  Female     0       1                0          0    0 12     0
  Male       4       2                5          1    3 71     2
        height
sex      69.2913385826772 69.3 69.6 69.6850393700787 70 70.0787401574803 70.08
  Female                0    0    1                0  6                0     0
  Male                  2    2    1                1 86                5     1
        height
sex      70.1 70.4724409448819 70.5 70.8 70.85 70.86 70.866 70.8661
  Female    0                0    0    0     0     0      0       0
  Male      2                1    2    1     1     1      1       1
        height
sex      70.8661417322835 70.87 71 71.5 71.65 71.6535433070866 71.7 72
  Female                0     0  1    0     0                0    0  2
  Male                  9     1 58    4     1                1    1 86
        height
sex      72.0472440944882 72.05 72.4 72.44 72.4409448818898 72.45 72.5 72.83
  Female                0     0    0     0                0     0    0     0
  Male                  3     2    1     4                3     1    1     2
        height
sex      72.8346 72.8346456692913 73 73.2 73.22 73.2283464566929 73.62 74 74.5
  Female       0                1  0    0     0                0     0  1    0
  Male         2                1 23    2     2                1     1 29    1
        height
sex      74.8 74.8031496062992 75 75.4 75.5905511811024 75.6 75.98 76 77
  Female    0                1  1    0                0    0     0  0  1
  Male      1                1 21    1                1    1     1  7  4
        height
sex      77.1654 78 78.74 78.740157480315 79 79.05 80 81 82.6771653543307
  Female       0  0     0               1  1     0  0  0                0
  Male         1  4     1               0  1     1  2  1                1

In [13]:
prop.table(table(heights$sex))

   Female      Male
0.2266667 0.7733333

In [15]:
prop.table(table(heights$height))

              50               51               52               53
     0.001904762      0.000952381      0.001904762      0.000952381
           53.77               54               55               58
     0.000952381      0.000952381      0.000952381      0.000952381
              59          59.0551 59.0551181102362 59.8425196850394
     0.005714286      0.000952381      0.001904762      0.000952381
              60               61            61.32 61.8110236220472
     0.016190476      0.011428571      0.000952381      0.001904762
              62 62.2047244094488             62.4             62.5
     0.018095238      0.002857143      0.000952381      0.001904762
62.5984251968504             62.6  62.992125984252               63
     0.000952381      0.000952381      0.002857143      0.029523810
63.3858267716535 63.7795275590551               64           64.173
     0.000952381      0.002857143      0.037142857      0.000952381
         64.1732 64.1732283464567             64.2             64.5
     0.000952381      0.000952381      0.001904762      0.001904762
64.5669291338583            64.57             64.9            64.96
     0.001904762      0.000952381      0.000952381      0.001904762
64.9606299212598           64.961               65  65.748031496063
     0.003809524      0.000952381      0.051428571      0.002857143
              66            66.14          66.1416          66.1417
     0.061904762      0.000952381      0.000952381      0.000952381
66.1417322834646             66.4             66.5 66.5354330708661
     0.003809524      0.000952381      0.002857143      0.003809524
            66.7            66.75             66.9            66.92
     0.000952381      0.000952381      0.000952381      0.001904762
         66.9291 66.9291338582677            66.93               67
     0.001904762      0.011428571      0.000952381      0.073333333
            67.2             67.3             67.5             67.7
     0.000952381      0.000952381      0.003809524      0.002857143
           67.71          67.7165 67.7165354330709            67.72
     0.001904762      0.001904762      0.006666667      0.002857143
           67.78               68            68.11          68.1102
     0.000952381      0.072380952      0.004761905      0.000952381
68.1102362204724         68.11024             68.4             68.5
     0.002857143      0.000952381      0.001904762      0.008571429
 68.503937007874             68.8            68.89          68.8976
     0.003809524      0.000952381      0.003809524      0.002857143
68.8976377952756       68.8976378             68.9               69
     0.004761905      0.000952381      0.002857143      0.079047619
           69.29 69.2913385826772             69.3             69.6
     0.001904762      0.001904762      0.001904762      0.001904762
69.6850393700787               70 70.0787401574803            70.08
     0.000952381      0.087619048      0.004761905      0.000952381
            70.1 70.4724409448819             70.5             70.8
     0.001904762      0.000952381      0.001904762      0.000952381
           70.85            70.86           70.866          70.8661
     0.000952381      0.000952381      0.000952381      0.000952381
70.8661417322835            70.87               71             71.5
     0.008571429      0.000952381      0.056190476      0.003809524
           71.65 71.6535433070866             71.7               72
     0.000952381      0.000952381      0.000952381      0.083809524
72.0472440944882            72.05             72.4            72.44
     0.002857143      0.001904762      0.000952381      0.003809524
72.4409448818898            72.45             72.5            72.83
     0.002857143      0.000952381      0.000952381      0.001904762
         72.8346 72.8346456692913               73             73.2
     0.001904762      0.001904762      0.021904762      0.001904762
           73.22 73.2283464566929            73.62               74
     0.001904762      0.000952381      0.000952381      0.028571429
            74.5             74.8 74.8031496062992               75
     0.000952381      0.000952381      0.001904762      0.020952381
            75.4 75.5905511811024             75.6            75.98
     0.000952381      0.000952381      0.000952381      0.000952381
              76               77          77.1654               78
     0.006666667      0.004761905      0.000952381      0.003809524
           78.74  78.740157480315               79            79.05
     0.000952381      0.000952381      0.001904762      0.000952381
              80               81 82.6771653543307
     0.001904762      0.000952381      0.000952381

## Plotting a CDF function for a range of Values.

In [96]:
data <- heights$height
ordered_data <- unique(ordered_data)
ordered_data <- sort(data)

In [97]:
seq_x <- seq(min(data), max(data),length= length(data))

In [122]:
cdf_function <- function(x){
    mean(data <= x)
}

In [123]:
cdf_values <- sapply(ordered_data, cdf_function)

In [125]:
jpeg("cdf_output.jpg")
plot(seq_x, cdf_values,type='l')
dev.off()

png
  2

In [112]:
x <- c(5,2,3,4)

In [113]:
rank(x)

[1] 4 1 2 3

In [119]:
order(x,decreasing=FALSE)

[1] 2 3 4 1

In [118]:
order(x)

[1] 2 3 4 1

In [121]:
x[2]

[1] 2